<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
        <h2>ROADTECHsss</h2>
        <!-- <form id="form-login" method="post" onsubmit="return false;"> -->
        <form id="__cont_lgn_form" action="/login-proc" method="POST">
            <input type="text" name="username" placeholder="username" /><br>
            <input type="password" name="password" placeholder="password" /><br>
            <input type="submit" value="SignIn" />
        </form>
        <!-- test -->
         <button id="fetch_id">fetch</button>
    </div>
</body>
<script>
    document.getElementById("fetch_id").addEventListener("click", function (params) {
        fetch(`/login-proc` , {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username : "test",
                password : "123qwe"
            })
        })
        .then(res => {
            console.log(res.body)
            if(res.status === 200) {
                // this.props.history.push(`/cart`);
            }else if(res.status === 400) {
                // alert("로그인이 필요한 서비스 입니다.")
                // this.props.history.push("/login");
            }
        }).catch(err => console.log("err: ", err))
    })

</script>
</html>