<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
        <h2>ROADTECH</h2>
        <!-- <form id="form-login" method="post" onsubmit="return false;"> -->
        <form id="__cont_lgn_form" action="/user" method="POST">
            <div class="lgn__form_item item_stack">
                <label for="username-login" class="form-label">email</label>
                <input type="email" name="email">
            </div>
            <div class="lgn__form_item item_stack">
                <label for="password-login" class="form-label">Password</label>
                <input type="password" name="password">
            </div>
            <div class="lgn__form_item item_submit">
                <button class="login" type="submit" name="login">회원가입</button>
            </div>
        </form>
    </div>
</body>

</html>